@model WebMVCWithDB.WEB.Areas.Authorized.Models.ApiModels.Reddit.RedditThread

<div class="row" style="background-color:gray">
    <div class="col-md-3">
        @Model.Author @Model.CreatedDate
    </div>
    <div class="col-md-2">
        <a href="@Model.Url" target="_blank">open on reddit</a>
    </div>
</div>
<div class="row" style="background-color:azure">
    <div class="col-md-2">
        <img src="@Model.ThumbnailLink" alt="Thumbnail"/>
    </div>
    <div class="col-md-4">
        @Model.Title <span style="font-size:12px; color:gray;">(@Model.Domain)</span>
    </div>  
</div>

